.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between; /*faz com que deixe um espaçamento entre os dois elementos*/
}

.cabecalhoPrincipal-nav{
    display: flex;
}